<footer>
    <nav class="px-3 py-2 flex justify-between items-center bg-green-100">
        <a
            class="text-sm text-green-700 hover:underline"
            href="/ueber-das-projekt"
            title="Mail schreiben"
        >
            ← Über das Projekt
        </a>
        <a
            href="/rechtliche-angaben"
            class="text-sm text-green-700 hover:underline"
            title="Impressum, Datenschutz & mehr"
        >
            Impressum & Datenschutz →
        </a>
    </nav>
    <div class="py-2 flex justify-center items-center w-full bg-blue-gray-700 select-none rounded-b-lg">
        <p class="font-medium text-xs text-blue-gray-100 text-center">made with <span class="text-red-400">♥</span> in freiburg</p>
    </div>
</footer>
